<div class="row pt-3">
    <div class="col-lg-6 logo-area">
        <div class="logo-image">
            <img src="/assets/logo1.avif" alt="">
        </div>
        <div class="logo-name">
            To DO list
        </div>
    </div>
    <div class="col-lg-6 pais-menyy">
        <ul class="d-md-flex align-items-center justify-content-end">
            
            <li><a href="/admin">Administraator</li>
            <li><a href="/tood">Taskid</a></li>
        </ul>
    </div>
</div>